<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/register.css')}}" type="text/css">
</head>

<body>
    <fieldset>
        <h1>Sign up</h1>
        <hr>
        <form action="{{url_for('register')}}" method="POST">

            <fieldset>
                <label>Username:</label><br>
                <input type="text" name="username" size=40 placeholder="Enter username here."><br>
                <label>Password:</label><br>
                <input type="password" name="password" size=40 placeholder="Enter password here."><br>
                <label>Name:</label><br>
                <input type="text" name="name" size=40 placeholder="Enter your name here."><br>
                <label>Gmail:</label><br>
                <input type="text" name="gmail" size=40 placeholder="Enter your gmail here"><br>
                <label>Address:</label><br>
                <input type="text" name="address" size=40 placeholder="Enter your address here"><br>
                <input type="submit" value="Sign up" id="submit">
            </fieldset>
        </form>
    </fieldset>
</body>

</html>